header{
  background-color: #333399;
  color: white;
  bottom: 0;
}

.column-1{
  background-color: #C0C0C0;
  color: black;
  float: left;
  margin-left: 0%;
  margin-right: 50%;
  width: 45%;
  height: 100%;
  position: absolute;
}

.column-2{
  background-color: gray;
  color: black;
  float: right;
  margin-right: 0%;
  margin-left: 50%;
  width: 45%;
  height: 100%;
  position: absolute;
}
footer{
  background-color: #0099CC;
  text-align: center;
  margin: 0;
  padding: 5%;
  top: 300%;
  position: absolute;
  height: 10%;
  width: 100%;
}
